doctype html
html
  head
    title Game
    link(rel='stylesheet', type='text/css', href='css/game.board.css')

  section#chatroom
    ul#player_list
    div#messages
    input#message(type='text', placeholder='Enter your message here')
    input#send(type='button', value='Send')

  section#game_board
    div#game_header
      img#phase_img(src='images/phases/waiting.png')
      div#header_buttons
        button#next_turn Next turn
        button#show_gold Show gold
        button#mission Mission
      div#game_info
        p.phase-message Waiting for players
      div#stats
        p.user-gold Gold: 0
        p.user-goldIncome Income: 0
        label(for='countdown') &#128337;
        span#countdown
    .svg-container
      img.slide-toggle(src='images/toggle-chat.png')
      svg.svg-content(version='1.1', viewbox='0 0 1147.148 859.25')
        // Europe
        g
          circle(cx='470', cy='242', r='20')
          text(x='470', y='249')
        g
          circle(cx='380', cy='225', r='20')
          text(x='380', y='232')
        g
          circle(cx='625', cy='196', r='20')
          text(x='625', y='203')
        g
          circle(cx='400', cy='400', r='20')
          text(x='400', y='407')
        g
          circle(cx='237', cy='374', r='20')
          text(x='237', y='381')
        g
          circle(cx='52', cy='174', r='20')
          text(x='52', y='181')
        g
          circle(cx='296', cy='483', r='20')
          text(x='296', y='490')
        g
          circle(cx='476', cy='568', r='20')
          text(x='476', y='575')
        g
          circle(cx='207', cy='608', r='20')
          text(x='207', y='615')
        g
          circle(cx='111', cy='614', r='20')
          text(x='111', y='621')
        // East Europe
        g
          circle(cx='543', cy='406', r='20')
          text(x='543', y='413')
        g
          circle(cx='526', cy='481', r='20')
          text(x='526', y='488')
        g
          circle(cx='587', cy='537', r='20')
          text(x='587', y='544')
        g
          circle(cx='636', cy='642', r='20')
          text(x='636', y='649')
        g
          circle(cx='672', cy='524', r='20')
          text(x='672', y='531')
        g
          circle(cx='739', cy='442', r='20')
          text(x='739', y='449')
        g
          circle(cx='664', cy='358', r='20')
          text(x='664', y='365')
        // Asia
        g
          circle(cx='748', cy='252', r='20')
          text(x='748', y='259')
        g
          circle(cx='945', cy='179', r='20')
          text(x='945', y='186')
        g
          circle(cx='1098', cy='172', r='20')
          text(x='1098', y='179')
        g
          circle(cx='900', cy='348', r='20')
          text(x='900', y='355')
        g
          circle(cx='1085', cy='335', r='20')
          text(x='1085', y='342')
        g
          circle(cx='963', cy='500', r='20')
          text(x='963', y='507')
        g
          circle(cx='1085', cy='451', r='20')
          text(x='1085', y='458')
        // Middle East
        g
          circle(cx='844', cy='626', r='20')
          text(x='844', y='633')
        g
          circle(cx='1085', cy='708', r='20')
          text(x='1085', y='715')
        g
          circle(cx='950', cy='717', r='20')
          text(x='950', y='724')
        g
          circle(cx='955', cy='810', r='20')
          text(x='955', y='817')
        // Africa
        g
          circle(cx='758', cy='817', r='20')
          text(x='758', y='824')
        g
          circle(cx='555', cy='817', r='20')
          text(x='555', y='824')
        g
          circle(cx='426', cy='727', r='20')
          text(x='426', y='734')
        g
          circle(cx='305', cy='780', r='20')
          text(x='305', y='787')
        g
          circle(cx='144', cy='765', r='20')
          text(x='144', y='772')

        defs
          radialgradient#nuke-gradients
            stop(offset='20%', stop-color='yellow')
            stop(offset='60%', stop-color='gold')
            stop(offset='95%', stop-color='red')

        text(x='943', y='29') Round
        circle#user_color(cx='1000', cy='20', r='15')
        text#username_turn(x='1022', y='29')

  audio#notify_audio(src='sounds/notify-turn.mp3')
  script
    if user
      | var user = !{JSON.stringify(user)}
    else
      | var user = 'guest';
  script(src='/socket.io/socket.io.js')
  script(src='resources/jquery.min.js')
  script(src='js/chat.js')
  script(src='js/game.room.js')
  script(src='js/map.js')
  script(src='js/battle.and.movement.js')


