extends base
block head
  - var title = 'Home'
block body
  section#welcome
    div Welcome to General
    span#temporary This is a temporary start page until the projekt is done. Feel free to use the navigation bar top of the page
    a#startchat(type="button", class="btn", href="/lobby") Go to lobby