extends base
block head
  - var title = 'Lobby'

block body
  section#lobby

    p.flash_message
    div#new_room
      if user
        span Start a new game:
        input#new_room_name(type="text", placeholder='Name your game')
        select(id='num_of_players')
          option(value='', disabled='disabled', selected='selected') Number of players
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
        input#new_room_btn(type="button", value="Create game")
      else
        span Login to create games

    div#allrooms
      div#header List of games
      div#rooms_list

  script
    if user
      | var user = !{JSON.stringify(user)}
    else
      | var user = 'guest';
  script(src='/socket.io/socket.io.js')
  script(src='resources/jquery.min.js')
  script(src='js/lobby.js')